@model List<WebApplication1.Models.employee_salary_details>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sn = 0;
}

<h2>Index</h2>

<h1>This is empSalary controller </h1>
@using (Html.BeginForm("Index", "empSalary", FormMethod.Get))
{
    <label>Employee: </label>
    @Html.DropDownList("employeeList", null, "Select", htmlAttributes: new {@Name = "eid"})
    <label>Search From: </label>
    <input type="date" name="search" />
    <label>Search To: </label>
    <input type="date" name="search2" />
    <input type="submit" value="Search" />
}

<p>@Html.ActionLink("Create New", "Create")</p>
<table class="table">
    <tr>
        <th>sn</th>
        <th>ID</th>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Salary Amount</th>
        <th>Paid Date</th>
        <th>Action</th>
    </tr>
    @if (Model.Count() == 0)
    {
      <tr>
       <td colspan="7" style="text-align:center;font-weight:bolder">Searched Employee Does not Exist</td>
      </tr>
    }
    else
    {
        foreach (var item in Model)
        {
        <tr>
            <td>@(++sn)</td>
            <td>@item.id</td>
            <td>@item.employee_id</td>
            <td>@item.empDetail.ename</td>
            <td>@item.salary_paid</td>
            <td>@item.paid_date</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.id }) |
                @Html.ActionLink("Details", "Details", new { id = item.id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.id })
            </td>
        </tr>
        }
    }
    <tr>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td colspan="4">Total @(Model.Sum(x => x.salary_paid))</td>
    </tr>
</table>