@model List<WebApplication1.Models.empDetail>

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sn = 0;
}
<style>
    .table {
        background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(56,121,9,1) 0%, rgba(0,212,255,1) 100%);
    }
    #create {
        margin-top: 20px !important;
        text-align: center; 
    }
     #create a {
        text-decoration: none;
    }
     td a {
         text-decoration: none;
         color: #000;
     }
</style>
<h2>Employee List</h2>

<table class="table" border="1">
    <tr>
        <th>SN</th>
        <th>Employee ID</th>
        <th>Empolyee Name</th>
        <th>Employee Address</th>
        <th>Employee Contact</th>
        <th>Edit</th>
    </tr>
    @foreach (var data in Model){
<tr>
    <td>@(++sn)</td>
    <td>@data.eid</td>
    <td>@data.ename</td>
    <td>@data.eaddress</td>
    <td>@data.contacts</td>
    <td><a href="@Url.Action("Edit", new {id=data.eid})">Edit</a></td>
</tr>
    }
</table>
<div id="create">
    <a href="@Url.Action("Create")">Add New Record</a>
</div>

