@model List<WebApplication1.Models.student>
@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sn = 0;
}

<h2>Student</h2>
<table class="table" border="1">
    <tr>
        <th>SN</th>
        <th>Student ID</th>
        <th>Student Name</th>
        <th>Student Address</th>
        <th>Student Contact</th>
    </tr>
    @foreach (var data in Model)
    {
<tr>
    <td>@(++sn)</td>
    <td>@data.sid</td>
    <td>@data.sname</td>
    <td>@data.saddress</td>
    <td>@data.contacts</td>
    <td><a href="@Url.Action("Edit", new {id=data.sid})">Edit</a></td>
    <td><a href="@Url.Action("Delete", new {id=data.sid})">Delete</a></td>
</tr>
    }
</table>
<div id="create">
    <a href="@Url.Action("Create")">Add New Record</a>
</div>

